.mainLoginButton {
    background: #843fbd;
    color: #ffffff;
    padding: 10px;
}

.mainLoginInput {
    width: 70%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
    color: #333333;
    font-size: 40px;
}